html,
body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #232425;
  background-color: #f1f5f8;
}

* {
  box-sizing: inherit;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

a,
a:visited {
  color: #f00;
}

.converter {
  max-width: 600px;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  color: #f1f5f8;
  background-color: #22292f;
}

.converter--title {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.converter--desc {
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b8c2cc;
}

.converter--label {
  width: 8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.converter--input {
  width: 6rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f1f5f8;
  border: 1px solid #b8c2cc;
}
.converter--input.highlight {
  border: 1px solid #ea3e3e;
}

.converter--odds,
.converter--wager,
.converter--profit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.converter--messages {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

.converter--credits {
  margin-bottom: 0;
  margin-top: 1rem;
  text-align: right;
  font-size: 0.75rem;
}

.converter--credits a {
  font-weight: 700;
}
